<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>FirstWebApp</display-name>
  
  <servlet>
  <servlet-name>HCS</servlet-name>
  <servlet-class>com.deloitte.web.HTTPCounterservlet</servlet-class>
  
  
  <init-param>
  <param-name>email</param-name>
  <param-value>shivam@abc.com</param-value>
  </init-param>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>HCS</servlet-name>
  <url-pattern>/hitcount</url-pattern>
  
  </servlet-mapping>
  
  <context-param>
  <param-name>WebAdmin</param-name>
  <param-value>BobTheBuilder.com</param-value>
  </context-param>
  
  
  
  <welcome-file-list>
    
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>